body{
    margin: 0;
    padding: 0;
    background: url(assets/image/img1.jpg) no-repeat;
    background-size: cover;
}
.box{
    width:450px;
    background:rgba(0, 0, 0, 0.4);
    padding:15px;
    text-align: center;
    margin: auto;
    margin-top:5%;
    color:white;
    font-family: 'Poppins', sans-serif;
}
.box-img{
    border-radius:50%;
    width:200px;
    height:200px;
}
.box h1{
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;
}
.box h5{
    font-size: 25px;
    letter-spacing:3px;
    font-weight: 100;
}
.box p{
    text-align: justify;
}
ul{
    margin: 0;
    padding:0;
}
.box li{
    display: inline-block;
    margin: 6px;
    list-style: none;
}
.box li a {
    color: white;
    text-decoration: none;
    font-size: 60px;
    transition: all ease-in-out 250ms;
}
.box li a:hover{
    color:#b9b9b9;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #5d4954;
    font-family: 'Poppins', sans-serif;
}
.logo{
    color:white;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}
.nav-links{
    display: flex;
    background-color: transparent;
    justify-content: space-around;
    width:30%;
}
.nav-links li{
    list-style: none;
}
.nav-links a {
    color:white;
    text-decoration:none;
    letter-spacing: 3px;
    font-weight:bold;
    font-size:14px; 
}
.lines div{
    width:25px;
    height:3px;
    margin:5px;
    transition: all 0.3s ease;
    background-color: white;
}
.lines{
    display: none;
    cursor: pointer;
}
@media screen and (max-width:1024px){
    .nav-links{
        width:60%;
    }    
}
@media screen and (max-width:768px){
    body{
        overflow-x: hidden;
    }
    .nav-links{
        width:50%;
        position: absolute;
        top:8vh;
        right:0px;
        height:92vh;
        background-color: #5d4954;
        display: flex;
        flex-direction: column;
        align-items: center;
        transform:translateX(100%);
        transition:transform 0.5s ease-in;
    }
    .nav-links li{
        opacity: 0;
    }
    .lines{
        display: block;
    }    
 
}
.nav-active{
    transform:translateX(0%);

}
@keyframes navLinkFade{
    from{
        opacity:0;
        transform:translateX(50px);
    }
    to{
        opacity:1;
        transform:translate(0px);
    }
}
.toggle .line1{
    transform:rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    opacity:0;
}
.toggle .line3{
    transform:rotate(45deg) translate(-5px,-6px);
}